.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about__subtitle {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.about-text__text:nth-child(odd) {
    margin-bottom: 30px;
}

.about-text__text{
    max-width: 460px;
    line-height: 28px;
    margin-bottom: 48px;
    font-weight: 400;
}

.about__img {
    display: inline-block;
    width: 600px;
    height: 596px;
    margin-right: 80px;
}

.about__text-block {
    display: inline-block;
    vertical-align: top;
    height: 596px;
    max-width: 480px;
}

.comment__text {
    max-width: 450px;
    padding-left: 30px;
    font-size: 44px;
    line-height: 50px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-indent: -30px;
}

.comment__text::before {
    content: "\201C";
    font-size: 44px;
    font-weight: 900;
    color: #6c0287;
    padding-right: 10px;
}

.comment__text::after {
    content: "\201D";
    font-size: 44px;
    font-weight: 900;
    color: #6c0287;
    padding-left: 10px;
}

.signature {
    max-width: 389px;
    height: 84px;
    margin-left:  auto;
}

.signature__image {
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
    margin-right: 20px;
    vertical-align: top;
}

.signature__text {
    display: inline-block;
    max-width: 278px;
    white-space: break-spaces;
}
