.banner {
    position: relative;
    height: 919px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1210px;
    margin: 0 auto;
}

.banner::after {
    position: absolute;
    content: "";
    background-image: url('../img/vr.png');
    background-size: contain;
    width: 675px;
    height: 762px;
    right: 0;
    bottom: 50px;
}

.banner__title {
    display: inline-block;
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -14px;
    line-height: 150px;
}

.banner__slogan {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.banner__box {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 150px;
}

.banner__box-hall {
    width: 193px;
}

.banner__hall-text {
    font-weight: 900;
    font-size: 100px;
    color: #cd06ff;
    text-align: center;
    line-height: 141px;
}

.banner__box-device {
    width: 166px;
}

.banner__device-text {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #cd06ff;
    text-align: center;
    line-height: 106px;
}

.banner__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
}

.banner__button {
    width: 374px;
    height: 80px;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    background: #6c0287;
    border: none;
    border-radius: 10px;
}

.banner__button:hover {
    background-color: #840aa3;
    transition: background-color 0.5s ease;
}

.banner__button:focus {
    background-color: #840aa3;
    transition: background-color 0.5s ease;
}

.banner__button:active {
    background-color: #640aa3;
    transition: background-color 0.5s ease;
}

.banner__arrow {
    width: 97px;
    height: 97px;
    position: absolute;
    background-color: transparent;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.banner__arrow:hover {
    background-color: #fff;
    border-radius: 50%;
    color: #6c0287;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.banner__arrow:focus {
    outline: 1px solid #cd06ff;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.banner__arrow:active {
    background-color: #cd06ff;
    color: #fff;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.banner__arrow:active > svg > circle {
    stroke: #cd06ff;
    transition: stroke 0.4s ease;
}
