:root {
    --color-purple: #6c0287;
    --color-white: #fff;
    --color-background: #1b1a1b;
    --color-black: #000;
    --color-light-black: #1c1a1a;
    --color-dark-purple: #440F51;
    --color-pink: #eadeed;
    --color-bright-purple: #cd06ff;
    --color-blue-violet: #640aa3;
    --color-light-purple: #840aa3;
}